# Tipos de Datos

### Importar librerias

In [2]:
import pandas as pd
import numpy as np

### Tipos de datos básicos

In [3]:
## 1. Tipos de datos básicos:
##    - Enteros (int): Representan números enteros. Ejemplo: 'edad=25'
##    - Flotantes (float): Representan números decimales. Ejemplo: 'precio=25.50'
##    - Cadenas (str): Representan texto. Ejemplo: 'nombre="Juan"'

In [4]:
edad = 25

In [5]:
type(edad)

int

In [6]:
altura = 1.75

In [7]:
type(altura)

float

In [8]:
nombre = "Juan"

In [10]:
type(nombre)

str

### Tipos de datos estructurados

In [11]:
## 2. Tipos de datos estructurados:
##    - Listas (list): Colección ordenada de elementos. Ejemplo: 'nombres=["Juan", "Ana", "Pedro"]'
##    - Tuplas (tuple): Colección ordenada de elementos inmutables. Ejemplo: 'coordenadas=(25, 50)'
##    - Diccionarios (dict): Colección no ordenada de elementos indexados. Ejemplo: 'persona={"nombre":"Juan", "edad":25}'

In [13]:
nombre = ["Juan", "Ana", "Pedro"]

In [15]:
nombre[1]

'Ana'

In [16]:
coordenada = (25, 50)

In [17]:
type(coordenada)

tuple

In [18]:
persona = {"nombre":"Juan", "edad":25}

In [19]:
persona["nombre"]

'Juan'

### Crear un DataFrame a partir de una lista de diccionarios

In [20]:
# Lista de diccionarios con datos de personas
datos_personas = [
    {"nombre": "Juan", "edad": 25, "ciudad": "Ciudad A"},
    {"nombre": "Ana", "edad": 30, "ciudad": "Ciudad B"},
    {"nombre": "Pedro", "edad": 35, "ciudad": "Ciudad C"}
]

# Crear un DataFrame a partir de una lista de diccionarios
df_personas = pd.DataFrame(datos_personas)

# Mostar el DataFrame
df_personas

  nombre  edad    ciudad
0   Juan    25  Ciudad A
1    Ana    30  Ciudad B
2  Pedro    35  Ciudad C

### Tipos de datos booleanos

In [21]:
## Bool:** Representa valores booleanos. Ejemplo: 'es_mayor_edad=True'

In [23]:
ejemplo_booleano = True

In [25]:
type(ejemplo_booleano)

bool

### Libería Numpy para **Datos *Numéricos***:

In [ ]:
## Librería Numpy para Datos Numéricos:**
##   - Importar Numpy: 'import numpy as np'
##   - Crear un array de Numpy: 'edades = np.array([1, 2, 3])'
##   - Realizar cálculos matemáticos: 'media=np.mean(edades)'

In [26]:
edades = np.array([25, 30, 35])

In [27]:
media = np.mean(edades)

In [28]:
print(media)

30.0

## Ejercicios prácticos

### 1er Ejercicio - Listas

In [31]:
## Manipular una lista de nombres, agregar o eliminar elementos:

# Lista de nombres inicial
nombres = ["Juan", "Ana", "Pedro"]

# Agregar un nuevo nombre al final de la lista
nombres.append("Luis")

# Mostrar la lista de nombres actualizada
print("Lista  despues de agregar un nombre: ", nombres)

# Posiciones dentro de una lista, Python en las listas siempre arranca a contar desde 0
# Si quiero seleccionar a Juan deberia utilizar
nombres[0]

# Eliminar el segundo nombre de la lista
nombres.pop(1)

# Mostrar la lista de nombres despues de eliminar un nombre
print("Lista despues de eliminar el segundo nombre: ", nombres)

Lista  despues de agregar un nombre:  ['Juan', 'Ana', 'Pedro', 'Luis']
Lista despues de eliminar el segundo nombre:  ['Juan', 'Pedro', 'Luis']

### 2do Ejercicio - Diccionario

In [33]:
## Utilizar un diccionario para representar información de un estudiante:**

# Datos del estudiante en un diccionario
estudiante = {
    "nombre": "Juan",
    "edad": 25,
    "cursos": ["Python", "Estadística", "SQL"],
    "promedio": 15.5
}

# Mostrar información del estudiante
print("Informacion del estudiante: ")
print("Nombre: ", estudiante["nombre"])
print("Edad: ", estudiante["edad"])
print("Cursos: ", estudiante["cursos"])
print("Promedio: ", estudiante["promedio"])

Informacion del estudiante:
Nombre:  Juan
Edad:  25
Cursos:  ['Python', 'Estadística', 'SQL']
Promedio:  15.5

In [34]:
estudiante["promedio"]

15.5